/* You can add global styles to this file, and also import other style files */

a {
    color: #fff;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

.text-warn {
    color: red;
}
